<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.njk" %}
    <title>502 - Bad Gateway</title>
</head>
<body>
    <div class="container">
        <h1 class="is-center heading">502</h1>
        <h3 class="is-center">The server has problems forwarding your request!</h3>
    </div>
    <div class="container">
        <p class="is-center">That should definetily not happen!</p>
    </div>
    <div class="container" style="margin-top: 3rem;">
        <h1 class="is-center">What is a 502-error?</h1>
        <p class="is-center">A 502-error is if the server has problems forwarding your request.</p>
    </div>

    <div class="container">
        <h1 class="is-center">Demonstration</h1>
        <p class="is-center"><img src="https://http.cat/502"></p>
        <p class="is-center"><img src="https://cdn.statically.io/img/i.imgur.com/l8IJgzf.png">
        
    </div>
    {% include "components/footer.njk" %}
</body>
</html>