<footer class="is-text-center" style="margin-top: 3rem;">
    <p>Infrastrucure run by <a href="https://mawoka.eu.org?utm_medium=errorPage&utm_source=404">Mawoka</a></p>
    <p>Contact me <a href="https://mawoka.eu.org/contact?utm_medium=errorPage&utm_source=404">here</a></p>
</footer>