<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="" />
<link rel="stylesheet" href="https://unpkg.com/chota@latest">


<style>
    .heading {
        font-size: 300%;
        margin-top: 4rem
    }
    body > footer {
        background-color: #fafafa;
        padding: 4rem;
    }
</style>